/*Page de style de index*/
@font-face {
    font-family: 'harryPotter';
    src: url('charlotte.otf');
    src: url('charlotte.ttf');
}

body{
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: center;

    font-family: arial, Sans-Serif;
}

h1{
    font-size: 3em;
    text-align: center;
    opacity: 0.9;
    background-color: #f2f2f2;
    width: 600px;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    font-family: 'harryPotter';
}

#all{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form{
    text-align: center;
    opacity: 0.9;
    background-color: #f2f2f2;
    width: 600px;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
}

.description{
    text-align: center;
    opacity: 0.9;
    background-color: #f2f2f2;
    width: 600px;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
}

#submit {
    color: #f2f2f2;
    background: #0f0f0f;
    opacity: 0.9;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    padding: 8px 20px;
    border-radius: 5px;
}

#submit:hover{
    background-color: #000000;
    opacity: 1;
    color: white;
}

#pseudo{
    outline: 0;
    background: #FFFFFF;
    width: 100%;
    border: 0;
    margin: 10px 0 25px 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

