body{
    background-color: rgba(145, 144, 126, 0.8);

    font-family: Arial, Sans-Serif;

    display: flex;
    margin-top: 40px;
}

ul{
    text-align: left;
    opacity: 0.9;
    background-color: #f2f2f2;
    max-width: 300px;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    align-items: flex-end;
    list-style: none;
    line-height: 25px;
}

a{
    color: #f2f2f2;
    background: #0f0f0f;
    opacity: 0.9;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    padding: 8px 20px;
    border-radius: 5px;

    margin: 40px;

}

a:hover{
    background-color: #000000;
    opacity: 1;
    color: white;
}

#wrap{
    flex-direction: column;
}
